CREATE DATABASE [db_NamayeshgahMashin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_NamayeshgahMashin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\db_NamayeshgahMashin.mdf' , SIZE = 4096KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_NamayeshgahMashin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\db_NamayeshgahMashin_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [db_NamayeshgahMashin]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [db_NamayeshgahMashin] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
